<!DOCTYPE html>
<html>
  <head>
    <title>curatingbits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="flex items-center justify-between flex-wrap bg-green-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg class="fill-current h-10 w-90 mr-2" width="90" height="64" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path class="st0" d="M20.09,21.64v-2h19.97v2h-7.99v13.98h7.99v2H20.09v-2h7.99V21.64H20.09z"/>
  	<path class="st0" d="M56.04,23.64v-2h2v-2h3.99v2h-2v2h-2v2h-2v2h-2v2h-2v2h-2v2h-2v2h-2v2h-3.99v-2h2v-2h2v-2h2v-2h2v-2h2v-2h2v-2
  		H56.04z"/>
  	<path class="st0" d="M66.02,21.64v-2H82v2h2v13.98h-2v2H66.02v-2h-2V21.64H66.02z M80.01,35.62V21.64H68.02v13.98H80.01z"/></svg>
    <span class="font-semibold text-xl tracking-tight">curatingbits</span>
    </div>
  <div class="block lg:hidden">
    <button class="navbar-burger flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div id="main-nav" class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Docs
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Examples
      </a>
    </div>
    <div>
  </div>
  </nav>

  <div class="container mx-auto px-4">
    <%= yield %>
  </div>
  </body>
</html>
