<!DOCTYPE html>
<html>
  <head>
    <title>CuratingBits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200">
  <nav class="flex items-center justify-between flex-wrap bg-green-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg class="fill-current h-10 w-90 mr-2" width="90" height="64" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path class="st0" d="M20.09,21.64v-2h19.97v2h-7.99v13.98h7.99v2H20.09v-2h7.99V21.64H20.09z"/>
	<path class="st0" d="M56.04,23.64v-2h2v-2h3.99v2h-2v2h-2v2h-2v2h-2v2h-2v2h-2v2h-2v2h-2v2h-3.99v-2h2v-2h2v-2h2v-2h2v-2h2v-2h2v-2
		H56.04z"/>
	<path class="st0" d="M66.02,21.64v-2H82v2h2v13.98h-2v2H66.02v-2h-2V21.64H66.02z M80.01,35.62V21.64H68.02v13.98H80.01z"/></svg>
  <span class="font-semibold text-xl tracking-tight"><%= link_to("CuratingBits", home_path) %></span>
  </div>
  <div class="block lg:hidden">
    <button class="navbar-burger flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 55 32" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div id="main-nav" class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Docs
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Examples
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
        Blog
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
  </div>
  </nav>

  <div class="container mx-auto">
    <div class="flex sm:flex-row-reverse md:flex-row lg:flex-row mb-4 m-3">
      <div class=" lg:w-3/4 sm:w-2/3 h-12 m-2">
        <%= yield %>
      </div>
      <div class="lg:w-1/4 sm:w-1/4 h-12 ml-4 px-4 m-2">


  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="">
  </div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">

      </p>
      <div class="text-gray-900 font-bold text-xl mb-2">About Me</div>
      <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
    </div>
    <div class="flex items-center">
      <img class="w-20 h-20 rounded-full mr-4" src="/assets/dugganroberts.JPG" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-900 leading-none border-b border-gray-400 pb-2">Duggan Roberts</p>
        <p class="text-gray-600 text-xs"><span class="text-green-600">Github:</span><span class="text-blue-900"> @curatingbits_ </span></p>
        <p class="text-gray-600 text-xs">Insta: @curatingbits_</p>
        <p class="text-gray-600 text-xs">Twitter: @dugganroberts</p>
      </div>
    </div>
  </div>


        <h3>Categories</h3>
        <ul class="list-disc list-inside">
          <% Category.all.each do |cat| %>
            <%= content_tag(:li, link_to(cat.name, home_path(:category_id => (cat.id)))) %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  </body>
</html>
